@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Auslink Operating Support";
    
}

<h1> @ViewData["msg"]   </h1>
<h2> Clients @ViewData["numt"]  </h2>
<p> Hello from view template </p>
<a asp-controller="ClientClasses" asp-action="Index">Client</a>
