@page




<div class="">
    <form asp-controller="Staff_class" asp-action="Login" method="post">
        <div>
            <div>
                <label class="control-label"> UserName </label>
                <input class=" form-control" type="text" name="username">
            </div>
            <div>
                <label class="control-label"> Password</label>
                <input class="form-control" type="password" name="password">
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Login" />

            </div>

        </div>

    </form>
</div>