@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Auslink Operating Support";
}
<h2> Training   </h2>
<p> Traing </p>
